/Exo_3/pokemon_data.csv
/Exo_3/pokemon_data.json
/Python/assets/replace_my_words.txt.bak
/Python/assets/sample.csv
/Python/assets/sample.csv.new.csv
/Exo_2/test.txt.old
/Python/assets/words.json
/Python/assets/words.csv
